<!DOCTYPE html>
<html lang="euc-kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="map" style="width:500px;height:400px;"></div>
<script th:inline="javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2fb1a28ebf058dac66ff29d555e364e5"></script>
<script th:inline="javascript">
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng([[${y}]], [[${x}]]),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);

    var markerPosition  = new kakao.maps.LatLng([[${y}]], [[${x}]]);

    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);
</script>
</body>
</html>